        .middle-box
        {

            position: absolute;
            left: 250px;
            top: 140px;
        }
        .img-box
        {
            position: absolute;
            
        }
        .login-box
        {
           
            position: absolute;
            left: 250px;
            margin-left: 30px;
            padding-left: 50px;
            padding-right: 30px;
        }
        .img-size
        {
            height: 200px;
        }
        .bkg
        {
          border: 1px solid black;
          height: 400px;
          width: 850px;
          margin-top: 50px;
          margin-left: 50px;
          margin-right: 1000px;
          border-radius: 15px;
          border-width: 10px;
        }
        .input-field
        {
            height: 20px;
            border: 1px;
            border-radius: 15px;
            padding: 5px;
            margin-top: 10px;
            background-color: rgba(228, 226, 226, 0.859);
        }
        .img-size1
        {
            height: 16px;
            position: absolute;
            left: 20px;
            padding-top: 17px;
    
        }
        .btn
        {
            height: 25px;
            width: 175px;
            background-color: black;
            color: white;
            border-radius: 15px;
            margin-left: 2px;
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: -10px;
        }
        .link1
        {
            text-decoration: none;
            color: gray;
            
        }
        .link
        {
            margin-left: 50px;
            
        }